.grid {
  --min-width: 250px;
  --max-width: 1080px;

  --column-width: calc(var(--width) / var(--grid-columns));
  --row-height: calc(var(--height) / var(--grid-rows));

  --horizontal-margin: 2rem;

  --width: clamp(
    calc(var(--min-width) - 1px),
    calc(100vw - 1px - (var(--horizontal-margin) * 2)),
    calc(var(--max-width) - 1px)
  );

  display: grid;
  position: relative;
  border-bottom: 1px solid hsl(var(--border));
  width: var(--width);
  height: var(--height);
  grid-template-columns: repeat(var(--grid-columns), var(--column-width));
  grid-template-rows: repeat(var(--grid-rows), var(--row-height));
}

.grid-cross {
  --cross-size: 21px;
  --cross-half-size: calc((var(--cross-size) / 2) + 1px - 0.5px);

  width: fit-content;
  height: fit-content;
  pointer-events: none;
  position: absolute;
  grid-column-start: var(--cross-column);
  grid-row-start: var(--cross-row);
  inset: calc(var(--cross-half-size) * -1);
  z-index: 2;
}

.grid-crossline {
  position: absolute;
  border: 1px solid hsl(var(--grid-cross));
  border-width: 0;
}

.grid-block {
  overflow: hidden;
  z-index: 2;
  margin-bottom: 1px;
  margin-right: 1px;
  grid-row: var(--grid-row);
  grid-column: var(--grid-column);
  display: var(--block-display);
  padding: var(--cell-padding);
  border: none;

  > div {
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .grid {
    --cell-padding: 24px;
    --height: var(--xs-height, var(--sm-height));
    --horizontal-margin: 1rem;
    --grid-divider-gap: calc(72px - var(--cell-padding));
    --grid-rows: var(--xs-grid-rows, var(--sm-grid-rows));
    --grid-columns: var(--xs-grid-columns, var(--sm-grid-columns));
  }

  .grid-cross {
    --cross-size: 11px;
    --cross-row: var(--xs-cross-row, var(--sm-cross-row));
    --cross-column: var(--xs-cross-column, var(--sm-cross-column));
  }

  .grid-block {
    --grid-row: var(--xs-grid-row, var(--sm-grid-row));
    --grid-column: var(--xs-grid-column, var(--sm-grid-column));
    --block-display: var(--xs-block-display, var(--sm-block-display));
    --cell-rows: var(--xs-cell-rows, var(--sm-cell-rows));
    --cell-columns: var(--xs-cell-columns, var(--sm-cell-columns));
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .grid {
    --cell-padding: 24px;
    --height: var(--sm-height);
    --horizontal-margin: 1rem;
    --grid-divider-gap: calc(72px - var(--cell-padding));
    --grid-rows: var(--sm-grid-rows);
    --grid-columns: var(--sm-grid-columns);
  }

  .grid-cross {
    --cross-size: 11px;
    --cross-row: var(--sm-cross-row);
    --cross-column: var(--sm-cross-column);
  }

  .grid-block {
    --grid-row: var(--sm-grid-row);
    --grid-column: var(--sm-grid-column);
    --cell-rows: var(--sm-cell-rows);
    --cell-columns: var(--sm-cell-columns);
    --block-display: var(--sm-block-display);
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .grid {
    --cell-padding: 40px;
    --height: var(--smd-height, var(--md-height, var(--sm-height)));
    --grid-divider-gap: calc(120px - var(--cell-padding));
    --grid-rows: var(--smd-grid-rows, var(--md-grid-rows, var(--sm-grid-rows)));
    --grid-columns: var(--smd-grid-columns, var(--md-grid-columns, var(--sm-grid-columns)));
  }

  .grid-cross {
    --cross-size: 15px;
    --cross-row: var(--smd-cross-row, var(--md-cross-row, var(--sm-cross-row)));
    --cross-column: var(--smd-cross-column, var(--md-cross-column, var(--sm-cross-column)));
  }

  .grid-block {
    --grid-row: var(--smd-grid-row, var(--md-grid-row, var(--sm-grid-row)));
    --grid-column: var(--smd-grid-column, var(--md-grid-column, var(--sm-grid-column)));
    --cell-rows: var(--smd-cell-rows, var(--md-cell-rows, var(--sm-cell-rows)));
    --cell-columns: var(--smd-cell-columns, var(--md-cell-columns, var(--sm-cell-columns)));
    --block-display: var(--smd-block-display);

    border-left: 1px solid hsl(var(--border));
    border-right: 1px solid hsl(var(--border));
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .grid {
    --cell-padding: 40px;
    --height: var(--md-height, var(--smd-height, var(--sm-height)));
    --grid-divider-gap: calc(140px - var(--cell-padding));
    --grid-rows: var(--md-grid-rows, var(--smd-grid-rows, var(--sm-grid-rows)));
    --grid-columns: var(--md-grid-columns, var(--smd-grid-columns, var(--sm-grid-columns)));
  }

  .grid-cross {
    --cross-size: 15px;
    --cross-row: var(--md-cross-row, var(--smd-cross-row, var(--sm-cross-row)));
    --cross-column: var(--md-cross-column, var(--smd-cross-column, var(--sm-cross-column)));
  }

  .grid-block {
    --grid-row: var(--md-grid-row, var(--smd-grid-row, var(--sm-grid-row)));
    --grid-column: var(--md-grid-column, var(--smd-grid-column, var(--sm-grid-column)));
    --cell-rows: var(--md-cell-rows, var(--smd-cell-rows, var(--sm-cell-rows)));
    --cell-columns: var(--md-cell-columns, var(--smd-cell-columns, var(--sm-cell-columns)));
    --block-display: var(--md-block-display, var(--smd-block-display));
  }
}

@media screen and (min-width: 961px) {
  .grid {
    --cell-padding: 48px;
    --height: var(--lg-height, var(--md-height, var(--smd-height, var(--sm-height))));
    --grid-divider-gap: calc(140px - var(--cell-padding));
    --grid-rows: var(--lg-grid-rows, var(--md-grid-rows, var(--smd-grid-rows, var(--sm-grid-rows))));
    --grid-columns: var(
      --lg-grid-columns,
      var(--md-grid-columns, var(--smd-grid-columns, var(--sm-grid-columns)))
    );
  }

  .grid-cross {
    --cross-row: var(--lg-cross-row, var(--md-cross-row, var(--smd-cross-row, var(--sm-cross-row))));
    --cross-column: var(
      --lg-cross-column,
      var(--md-cross-column, var(--smd-cross-column, var(--sm-cross-column)))
    );
  }

  .grid-block {
    --grid-row: var(--lg-grid-row, var(--md-grid-row, var(--smd-grid-row, var(--sm-grid-row))));
    --grid-column: var(
      --lg-grid-column,
      var(--md-grid-column, var(--smd-grid-column, var(--sm-grid-column)))
    );
    --cell-rows: var(--lg-cell-rows, var(--md-cell-rows, var(--smd-cell-rows, var(--sm-cell-rows))));
    --cell-columns: var(
      --lg-cell-columns,
      var(--md-cell-columns, var(--smd-cell-columns, var(--sm-cell-columns)))
    );
    --block-display: var(--smd-block-display);
  }
}
